
<div class="form-container">
  <div class="row pb-5 no-gutters mt-4">
    <div class="container py-4 col-10 mt-4">
        <h3 class="blue-title text-center mb-4">Editer mon symptôme</h3>
        <%= render "form", symptom: @symptom %>
    </div>
  </div>
</div>
