<div class="form-container">
  <div class="row no-gutters pb-5">
    <div class="container py-4 col-10 mt-4">
        <h3 class="blue-title text-center mb-4">Ajouter un symptôme</h3>
        <%= render "form", symptom: @symptom %>
    </div>
  </div>
</div>
