// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$heal-green: #5DC2B4;
$heal-blue: #5167AD;
$heal-orange: #EF5F5C;
$heal-fake-white: #E5E5E5;
$heal-light-grey: #858383;
$heal-dark-grey: #575757;
