.week-container {
  justify-content: flex-start;
  width: 92%;
  overflow-x: auto;
  align-items: center;
  color: $heal-dark-grey;
  padding-bottom: 50px;
  margin-top: 20px;
  overflow-y: hidden;

  >.day{
  margin: 0 8px;
  height: 56px;

    > div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    }
  }

  >.calendar {
    position: absolute;
    top: 89px;
    right: 26px;
  }

  .stroke {
    transform: translateX(-50%);
    left: 50%;
    top: 100%;
    position: absolute;
    background-color: $heal-orange;
    width: 3px;
    height: 0px;
    transition: all 0.7s ease-out;
  }

  .stroke.active {
    height: 70px !important;
  }

}

.detail-p{
  color: #25255e;
}

