.show-consult{
  color: $heal-dark-grey;
  font-size: 18px;
  // line-height: 1em ;
}

#consultations-show .fas{
  color: $heal-orange;
}
.fa-clock:before{
  color: $heal-orange;
}


.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 78px;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  width: 90%; /* Could be more or less, depending on screen size */
  border-radius: 10px;
}

/* The Close Button */
.close {
  color: rgb(116, 116, 116);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#consultations-show select{
    padding: 9px;
    color: #495057;
    font-size: 18px;
    border: 1px solid #ced4da;
    background: #f4f4f4;
    border-radius: 10px;
}



#consultations-show .btn-timeline{
  border: none;
}

#consultations-show .far{
    font-size: 30px;
    color: #5167ad;
}
