<div class="form-container">
  <div class="row no-gutters">
    <div class="container py-4 col-10 mt-4">
      <h3 class="blue-title text-center mb-4">Ajouter une consultation</h3>
      <%= render "form", consultation: @consultation %>
    </div>
  </div>
</div>
