
<div  id="myHeader" class="sticky">
  <div class="navbar">
    <div class="heal-line">
      <%= link_to home_path do %>
        <%= image_tag "white-caduceus2.png", class: 'caduceus-img' %>
      <% end %>

      <h1>Heal Line</h1>
    </div>
    <%= link_to profile_path, class:"lien-logo" do %>
      <%# <img class="logo avatar" src="https://res.cloudinary.com/di1e8ocfv/image/upload/v1622648156/portrait_frx0ei.jpg"> %>
      <% if current_user %>
        <%= image_tag(current_user.avatar, alt: "avatar", class: "logo avatar") %>
      <% end %>

    <% end %>

  </div>
</div>

