<div class="flex">
  <div class="cercle-container">
    <h3>Prochain rdv</h3>
    <p><%= @consultation.date %> - <%= @consultation.category%></p>
    <%= image_tag 'plus.png', class:'plus-btn' %>
  </div>
</div>
