<div class="linear-gradient" id="landing">
  <% if current_user %>
    <%= link_to "", home_path %>
  <% else %>
    <%= link_to "",  new_user_session_path %>
  <% end %>
  
  <div class="logo-heal-line">
  <%= render "logo" %>
  </div>
  <div class="title">
    <h1>Heal-line</h1>
    <p>Suivez votre parcours de santé</p>
  </div>
</div>
