<div class="linear-gradient" id="landing">
  <%= link_to "", home_path %>
  <div class="logo-heal-line">
  <%= render "logo" %>
  </div>
  <div class="title">
    <h1>Heal-line</h1>
    <p>Suivez votre parcours de santé</p>
  </div>
</div>

