

<div class="container">
<h1>Timeline</h1>
  <div>
    <ul class="timeline">
      <% @consultations.each do |consultation| %>
        <li class="timeline-card">
          <h2><%= consultation.category %></h2>
          <p><%= consultation.description %></p>
          <p class="timeline-date"><%= consultation.date %></p>
          <br>
        </li>
      <% end %>
    </ul>
  </div>
</div>
