

<div class="container">
  <div>
    <ul class="timeline mt-5">
      <% @data.each do |item| %>
        <li class="timeline-card">
          <h2><%= item.name %></h2>
          <p><%= item.description %></p>
          <p class="timeline-date"><%= item.at.strftime('%e %b') %></p>
          <p class="timeline-year"><%= item.at.strftime('%Y') %></p>
        </li>
      <% end %>
    </ul>
  </div>
</div>
