<div class="container mt-5" data-controller="search">
  <div>
    <div id="timelineForm" class="mb-3">
      <h3 class="blue-title text-center">Mes Documents</h3>
      <div class="pt-2">
        <%= form_with url: documents_path, class:"flex position-relative align-items-center justify-content-center pt-2",method: :get, html: { autocomplete: 'off', class: 'flex justify-content-center align-items-center', data: { search_target: 'form' } } do |f| %>
            <%= f.text_field :query,
              id: 'input-search',
              class: "form-control",
              placeholder: "Rechercher...",
              value: params[:query],
              data: {
                    search_target: 'input',
                    action: "keyup->search#searchDoc"
                  }
            %>
            <%= submit_tag "", class: "btn-search" %>
        <% end %>
      </div>
    </div>
  </div>
  <div data-search-target="documents">
    <%= render 'list', documents: @documents %>
  </div>
</div>
