
<div class="form-container">
  <div class="row mt-4">
    <div class="container py-4 col-10">
        <h3 class="blue-title text-center mb-4">Editer la fiche de mon Docteur</h3>
        <%= render "form", doctor: @doctor %>
      </div>
    </div>
  </div>

