
<div class="form-container">
  <div class="row no-gutters mt-4">
    <div class="container py-4 col-10 mt-4">
        <h2 class="blue-title text-center mb-4">Créer une fiche Docteur</h2>
        <%= render "form", doctor: @doctor %>
      </div>
    </div>
  </div>
