// HOME

.circle-blue{
  background: $heal-blue;
}
.circle-orange{
  background: $heal-orange;
}

.cercle-container{
  width: 310px;
  height: 310px;
  border-radius: 50%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  position: relative;
  align-items: center;
  text-align: center;
  color: white;
  padding: 25px;
  // background: $heal-blue;
  // overflow: auto;
  >.black-p{
    color: rgb(37, 37, 94);
    font-weight: 600;
  }
}

.week-container{
  justify-content: flex-start;
  width: 92%;
  overflow-x: auto;
  align-items: center;
  color: $heal-dark-grey;
  margin-bottom: 50px;
  margin-top: 10px;

  >.day{
  margin: 8px;
  }

  >.calendar {
    position: absolute;
    top: 89px;
    right: 26px;
  }

}

.today{
  background: $heal-blue;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  text-align: center;
  padding: 4px;
  color: white;
}

.rdv-day{
  border: 2px solid $heal-orange;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  text-align: center;
  padding-top: 3px;
}


.info-rdv{
  text-align: left;
  padding: 10px;

  >p{
    line-height: 1.2em;
  }
}


.container-custom {
  margin-top: 140px;
}

.container-timeline {
  margin-top: 105px;
}




  .container_custom #pages-timeline{

  margin-top: 100px !important;
}
