.foot{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ececec;
  filter: drop-shadow(4px 0px 4px rgba(0, 0, 0, 0.40));
  // border-top: $heal-blue 0.14em solid;
  padding: 10px 30px 10px 30px;
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 72px;

}

.icon-menu{
  display: flex;
  flex-direction: column;
  align-items: center;

  > img {
    width: 30px;
    object-fit: cover;
    filter: invert(35%) sepia(0%) saturate(1530%) hue-rotate(190deg) brightness(92%) contrast(91%);
  }

  > p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 14px;
    color: #575757;
    margin-top: 10px;
    margin-bottom: 0;

  }

  &.active {
    img {
      filter: invert(59%) sepia(22%) saturate(6894%) hue-rotate(326deg) brightness(101%) contrast(87%);
    }
    p {
      font-weight: 500;
      color: $heal-orange;
    }
  }
}

  #heart {
    width: 40px;
  }
