.form-flex {
  display: flex;
  justify-content: space-between;
  gap: 10px;

  > div {
    width: 50%;
  }
}

.top-btn {
  display: flex;
  justify-content: space-evenly;
  > div {
    width: 45%;
  }
}

.form-control {
    border-radius: 10px;
}

#new_consultation {
  margin-top: 40px;
}

#new_symptom {
  margin-top: 40px;
}

.symptom_intensity{
  display: flex;
  flex-direction: column;
  gap: 10px;
}


