.form-flex {
  display: flex;
  justify-content: space-between;
  > div {
    width: 45%;
  }
}

.form-control {
    border-radius: 10px;
}

#new_consultation {
  margin-top: 130px;
}

#new_symptom {
  margin-top: 130px;
}

.form-intensity {
  margin-top: 12px;
}

