.navbar {
  box-sizing: border-box;
  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.25));
  background: $heal-blue;
  height: 80px;
  position: relative;
  // position: fixed;
  // top: 0;
  // z-index: 1;
}

.logo{
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  background: url(jean.jpg);
  border: 2px solid $heal-blue;
  box-sizing: border-box;
  height: 90px;
  width: 90px;
  position: absolute;
  transform: translateY(35%);

}

h1{

  font-family: 'Ruluko';
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 32px;
  color: #F5F5F5;
  filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.25));

}

.heal-line{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.caduceus-img{
  height:28px;
  margin:0 8px 10px 10px;
}
